<main>
        <nav>
            <a class="menu" href="#"><fa-icon [icon]="faAlignRight"></fa-icon></a>
            <a class="search" href="#"><fa-icon [icon]="faSearch"></fa-icon></a>
        </nav>

        <section class="hello">
            <h1>Hi, Jakob</h1>
            <h2>Let's get started!</h2>
        </section>

    
        <section class="notes">
            
            <div *ngFor="let note of notes; let i = index" class="card">
                <div class="card-category" [ngClass]="note.category">
                    &nbsp;
                </div>
                <div class="card-title">
                    <h2>{{note.title}}</h2>
                </div>
                <div class="card-content">
                    {{note.desc}}
                </div>
            </div>

        </section>
        
        <section class="todos">
            <div class="todos-top">
                <span>&nbsp;</span>
            </div>
            <div class="todos-title">
                <h2>Latest todos: </h2>
            </div>
            <ul class="todos-entries">
                <li *ngFor="let todo of todos; let i = index" [class.done] = "todo.status == 'done'" (click) = "(todo.status) == 'done' ? todo.status = 'open' : todo.status = 'done'" class="todos-entry"><span class="todos-status" [ngClass]="todo.category"><fa-icon [icon]="faCheck"></fa-icon></span><span class="todos-desc">{{todo.desc}}</span></li>
            </ul>
        </section>

</main>