/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */
main {
    width: 340px;
    margin: 0 auto;

    background-color: #F0F0F0;

    nav {
        height: 70px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;

        a {
            width: 70px;
            align-self: center;
            text-align: center;

            &.menu {
                transform: rotate(0.5turn);
            }
        }


    }

    section {
        margin: 28px;

        &.notes {
            display: flex;
            overflow-x: auto;
            white-space: nowrap;

            .card {
                display: flex;
                flex-direction: column;
                margin-right: 14px;
                background-color: white;
                border-radius: 7px;

                .card-category {
                    align-self: flex-end;
                    width: 28px;
                    height: 7px;
                    background-color: #646768;
                    
                }

                .card-title {
                    align-self: flex-start;
                    width: 200px;
                    margin: 14px;
                    white-space: normal;
                }

                .card-content {
                    align-self: flex-start;
                    width: 200px;
                    margin: 14px;
                    white-space: normal;

                }



            }


        }

    }

}