<main>
    <nav>
        <a class="menu" href="#"><fa-icon [icon]="faAlignRight"></fa-icon></a>
        <a class="search" href="#"><fa-icon [icon]="faSearch"></fa-icon></a>
    </nav>

    <section class="hello">
        <h1>Hi, Jakob</h1>
        <h2>Let's get started!</h2>
    </section>

    <section class="notes">
        <div class="card">
            <div class="card-title">
                Here we go for the title
            </div>
            <div class="card-category">
                &nbsp;
            </div>
            <div class="card-content">
                This is the contecnt of the note and it can contain some text and stuff. 
            </div>
        </div>
        
        <div class="card">
            <div class="card-category">
                &nbsp;
            </div>
            <div class="card-title">
                Here we go for the title
            </div>
            <div class="card-content">
                This is the contecnt of the note and it can contain some text and stuff. 
            </div>
        </div>
        
        <div class="card">
            <div class="card-title">
                Here we go for the title
            </div>
            <div class="card-category">
                &nbsp;
            </div>
            <div class="card-content">
                This is the contecnt of the note and it can contain some text and stuff. 
            </div>
        </div>

    </section>



</main>